@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  background-color: black;
  border-radius: 5px;
}
nav {
  background-image: url("Assets/Background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.hver {
  transition: all ease 0.5s;
  cursor: pointer;
}
.hver:hover {
  box-shadow: rgba(50, 46, 46, 0.35) 0px 5px 15px;
  transform: scale(1.1);
}

.menuDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.rightMenuSide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.search {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  transition: 0.5s;
  overflow: hidden;
  gap: 10px;
}
.active {
  width: 260px;
}
.search-open {
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}
.hamburgerMenu {
  display: none;
}
#search-container {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  height: 45px;
}
.rightMenuSide {
  width: 120%;
  display: flex;
  justify-content: center;
}
.btn-link {
  color: white;
  font-size: 1.1em;
}
.btn-link-bold {
  font-weight: 600;
}
.navBottomText {
  text-align: center;
  font-size: 1.1em;
}
.navBottomText h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}
.navBottomText .navBottomFirstText {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.navBottomText button {
  margin-bottom: 15px;
}
.navBottomImg {
  text-align: center;
  margin-top: 62px;
}
.snippetImg {
  width: 50%;
  object-fit: cover;
}
.btnSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.leftSideContainer {
  width: 80%;
}
.leftSideContainer h1 {
  font-size: 2em;
  margin-bottom: 30px;
}
.leftSideContainer p {
  margin-bottom: 30px;
  padding: 0 50px 0 0;
  font-size: 1.2em;
  font-weight: 300;
  width: 76%;
  line-height: 2rem;
}
.rightSection img {
  width: 60%;
}
footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40px;
}
footer div {
  width: 100%;
}
.leftfooter img {
  margin-left: 50px;
}
.rightfooter {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  width: 50%;
}
.footerlink {
  width: 30%;
  font-size: 0.8rem;
}
